#toTop {
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  color: #0bf4f3;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#toTop:hover {
  background: #000;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
}

#toTop svg {
  position: relative;
  top: 12px;
  right: -1px;
  fill: #0bf4f3;
  transition: all 0.3s ease-in-out;
}

#toTop:hover svg {
  cursor: pointer;
  fill: #0bf4f3;
  transition: all 0.3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
}
